* {
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{

      background-color: rgb(240, 201, 208);
        font-family: 'Arial', sans-serif;
}


.container{
display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}




.card{
    background-color: rgb(240, 201, 208);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    height: 300px;
    text-align: center;
}



.container2{
display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}


.card2{
    background-color: rgb(240, 201, 208);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    height: 300px;
    text-align: center;
}



h3{
    text-align: center;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
}



.bolo{

        width: 100%;
    height: 500px;
    margin-bottom: 20px;
}


@media screen and (max-width: 768px){
    .container,.container2{
         display:block;
    background-image: none;

    }

    .container_imagem{
        width: 50vw;


    }

    .container_caixa{
        margin: 2em 2em;
    }

    
.bolo{

        width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
  
}
