   
body{
  
    background-color: #331F19;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}


.container{
   text-align: center;
    background-color: #CBBBA7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    border: 2px solid #8B7D70;
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

ul li{
       background-color: #F4F0EA;
       font-size: 200%;
    color: #331F19;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img{
    width: 100px;

}

input{
    background-color: #F4F0EA;
 
    border-radius: 30px;
}

.Grilcoffe{
    position:fixed;
  
 width: 700px;
 height: auto;
 
}

.canto{
   
    right: 0;
    top: 0;
}