* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #19012c;
 
}

header {
    background-color: #752f00;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ffcc00;
}

main {
    padding: 40px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #050505;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    height: 300px;
    text-align: center;
}


button {
    background-color: #b9653e;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


button:hover{
    background-color: #3d2500;
    
}


.card img{
    width: 150px;
    height: 150px;
    
}


.hallowen{
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}




P{
    color: #b9653e;
}

.hollowice{
    width: 100%;
    height: 400px;
   
   
}