      
body {
  background-color: black;
}

img {
  width: 600px;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

/* cor só quando estiver LIBERADO */
.liberado img:hover {
  filter: grayscale(0%);
}

/* quando BLOQUEADO não clica */
.bloqueado img {
  pointer-events: none;
  cursor: default;
}

/* quando LIBERADO vira clicável */
.liberado img {
  cursor: pointer;
}
