* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #6b2424;
 
}

header {
    background-color: #6e0909;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ffcc00;
}

main {
    padding: 40px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
margin-bottom: 20px;
}

.card {
    background-color: #b60808;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    height: 300px;
    text-align: center;
}


button {
    background-color: #b9653e;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


button:hover{
    background-color: #3d2500;
    
}


img{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.natalino{
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}



footer {
    background-color: #6e0909;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


.banner{
    width: 100%;
    height: 400px;

}


    .container2{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    }

    .card2{
        background-color: #c40000;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 200px;
        height: 300px;
        text-align: center;
    }



@media screen and (max-width: 768px){
    .container,.container2{
         display:block;
    background-image: none;

    }

    .container_imagem{
        width: 50vw;


    }

    .container_caixa{
        margin: 2em 2em;
    }
}